.teams-container {
  .teams-content {
    .header {
      position: relative;
      h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 42px;
        height: 100%;
        margin-top: 10px;
      }
    }

    .teams-card {
      display: flex;
      justify-content: center;

      .ant-row {
        width: 80%;

        .list-standing {
          color: #000;
          padding-bottom: 10px;
          border-bottom: 1px solid #949498;
          margin-bottom: 10px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;

          .rank {
            font-size: 50px;
            line-height: 56px;
            font-weight: 800;
          }

          .points {
            text-align: right;

            .points-number {
              font-size: 24px;
              line-height: 30px;
              font-weight: 600;
              text-align: center;
              letter-spacing: 0.7px;
            }

            .points-label {
              background-color: #000;
              border-radius: 4px;
              color: #fff;
              padding: 1px 0 0;
              text-align: center;
              width: 48px;
              font-size: 18px;
              line-height: 24px;
              letter-spacing: 0.5px;
              font-weight: 600;
            }
          }
        }

        .container {
          .list-item--info {
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid #949498;
            padding-bottom: 10px;
            align-items: center;
            justify-content: space-between;

            .item-name {
              padding-left: 15px;
              position: relative;
              display: flex;
              align-items: center;

              .item-name-before {
                bottom: 0px;
                left: 0;
                position: absolute;
                top: 0px;
                width: 5px;
              }

              .list-item--team {
                font-size: 24px;
                line-height: 30px;
                color: #15151e;
                display: block;
                font-weight: 600;
              }
            }

            .team-car {
              height: 50px;
              width: 50px;
              img,
              svg {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }
          }

          .list-item--car {
            background-position-y: bottom;
            height: 167px;
            margin-bottom: -15px;
            display: flex;
            justify-content: center;

            img,
            svg {
              width: 282px;
              height: 84px;
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
}
