.layout-header-page {
  display: flex;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    a {
      display: flex;
      align-items: center;
      img {
        width: 130px;
        height: 33px;
        object-fit: contain;
      }
    }
  }
}
