.schedule-container {
  .schedule-content {
    margin: 15px 15px 10px;
    h1 {
      font-size: 42px;
      margin-bottom: 20px;
      text-align: center;
    }

    .schedule-table {
      display: flex;
      justify-content: center;
      table {
        td {
          .result {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 30px;
            cursor: pointer;

            &:hover {
              box-shadow: 0 0 0 2px #e10600;
              background: 0 0;
              color: #38383f;
            }
          }

          .status {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            height: 25px;
            min-width: 100px;
          }
        }
      }
    }
  }
}
