.schedule-container {
  .schedule-content {
    h1 {
      font-size: 42px;
      margin-bottom: 20px;
      text-align: center;
    }

    .schedule-table {
      display: flex;
      justify-content: center;
      table {
        td {
          .result {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 30px;
            cursor: pointer;

            &:hover {
              box-shadow: 0 0 0 2px #e10600;
              background: 0 0;
              color: #38383f;
            }
          }

          .status {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 10;
            gap: 5px;
            height: 25px;
            min-width: 100px;

            &#next-race {
              position: relative;
              overflow: hidden;
              border: none;

              &::before {
                content: '';
                position: absolute;
                z-index: -1;
                width: 200%;
                height: 1000%;
                // background: linear-gradient(#00ccff, #d400d4);
                background: conic-gradient(red, #d400d4, yellow, green, #00ccff);
                animation: animate 5s linear infinite forwards;
              }

              &::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 3px;
                background: #0e1538;
                border-radius: 2px;
              }

              @keyframes animate {
                100% {
                  transform: rotate(360deg);
                }
              }
            }
          }
        }
      }
    }
  }
}
